html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  background-color: #fff;
  color: #212121;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: normal; }

.container {
  padding: 0 20px;
  margin: 0 auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  @media (min-width: 1040px) {
    .container {
      width: 990px; } }
  @media (min-width: 922px) and (max-width: 1039px) {
    .container {
      width: 882px; } }
  @media (min-width: 520px) and (max-width: 921px) {
    .container {
      width: 735px; } }
  @media (max-width: 520px) {
    .container {
      width: 100%; } }

h1, h2, h3, h4, h5, h6 {
  margin: 21px 0;
  font-weight: 500;
  line-height: 1.2;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.5714285714em; }

h2 {
  font-size: 2.1428571429em; }

h3 {
  font-size: 1.7142857143em; }

h4 {
  font-size: 1.2857142857em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.8571428571em; }

hr {
  margin: 42px 0;
  border: none;
  border-top: solid 1px #9e9e9e; }
