.container {
	@include clearfix;
	padding: 0 $gutter-width;
	margin: 0 auto;

	@include breakpoint-XL {
		width: $live-area-XL;
	}

	@include breakpoint-L {
		width: $live-area-L;
	}

	@include breakpoint-M {
		width: $live-area-M;
	}

	@include breakpoint-S {
		width: 100%;
	}

}